In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns

In [ ]:
df_agencias = pd.read_csv('agencias.csv')
df_clientes = pd.read_csv('clientes.csv')
df_clbagencia = pd.read_csv('colaborador_agencia.csv')
df_colab = pd.read_csv('colaboradores.csv')
df_contas = pd.read_csv('contas.csv')
df_transacoes = pd.read_csv('transacoes.csv')

In [ ]:
df_TCA = (df_transacoes.merge(df_contas, how = 'left').merge(df_agencias,on='cod_agencia', how='left'))
df_TCA.head()

In [ ]:
df_TCA.drop(['cod_transacao', 'cod_cliente', 'data_abertura_x', 'data_abertura_y', 'cod_agencia', 'cod_colaborador', 'data_ultimo_lancamento'],axis=1, inplace=True)

In [ ]:
df_TCA

In [ ]:
Trans_AG = df_TCA.groupby(['nome_transacao','tipo_agencia'])['nome_transacao'].count().sort_values().reset_index(name= 'Contagem')
Trans_AG

In [ ]:
Trans_AG['%'] = (Trans_AG['Contagem'] / Trans_AG['Contagem'].sum()).mul(100).round(1).astype(str) + '%'

In [ ]:
Trans_AG

In [ ]:
Trans_AGTime = df_TCA.drop(['num_conta', 'endereco'], axis=1)

In [ ]:
Trans_AGTime

In [ ]:
Trans_AGTime['Mês'] = Trans_AGTime['data_transacao'].str[5:7]
Trans_AGTime

In [ ]:
Trans_AGTime2 = Trans_AGTime.drop(['data_transacao', 'nome', 'cidade', 'uf'], axis=1)
Trans_AGTime2

In [ ]:
Trans_AGTime2 = Trans_AGTime2.groupby(['nome_transacao', 'Mês','tipo_agencia'])['nome_transacao'].count().sort_values().reset_index(name ='Contagem')

In [ ]:
Trans_AGTime2.pivot_table(index=['nome_transacao', 'tipo_agencia'], columns='Mês', values='Contagem').fillna(0)

In [ ]:
Trans_AGTime['data_transacao'] = pd.to_datetime(Trans_AGTime['data_transacao'], format='mixed', utc=True)

In [ ]:
Trans_AGTime['Quinzena'] = Trans_AGTime['data_transacao'].apply(
    lambda date: 'Primeira Quinzena' if date.day <= 15 else 'Segunda Quinzena'
)

In [ ]:
Trans_AGTime['Média'] = Trans_AGTime['valor_transacao'].mean()

In [ ]:
def formatar_numero(valor):
    return f'{valor:,.1f}'.replace(',', 'X').replace('.', ',').replace('X', '.')

In [83]:
Trans_AGTimeQuin = Trans_AGTime.pivot_table(index=['Quinzena','tipo_agencia'], columns='Mês', values='Média', aggfunc='sum').round(1)
Trans_AGTimeQuin

Mês                                   01        02        03        04  \
Quinzena          tipo_agencia
Primeira Quinzena Digital       381302.9  206717.6  250274.6  237778.8
                  Física        436641.8  339173.9  398440.1  378803.7
Segunda Quinzena  Digital       273124.2  183868.0  273838.3  269911.0
                  Física        351312.8  327035.0  438783.9  362380.5

Mês                                   05        06        07        08  \
Quinzena          tipo_agencia
Primeira Quinzena Digital       257058.1  250988.7  308112.7  302043.3
                  Física        388086.3  427359.1  410578.9  362737.6
Segunda Quinzena  Digital       267411.8  294188.7  301686.3  343815.2
                  Física        398083.1  392013.6  404152.5  446638.5

Mês                                   09        10        11         12
Quinzena          tipo_agencia
Primeira Quinzena Digital       290261.5  364879.7  408793.8   529111.3
                  Física        448066.6  433071.5  467703.0   542678.2
Segunda Quinzena  Digital       298116.0  378089.6  428073.2  4742008.2
                  Física        435927.7  431643.4  485197.2  4357492.1

In [ ]:
for col in Trans_AGTimeQuin.columns:
    Trans_AGTimeQuin[col] = Trans_AGTimeQuin[col].apply(formatar_numero)

In [ ]:
Trans_AGTimeQuin

In [81]:
Trans_AGTimeQuin = Trans_AGTime.pivot_table(index=['Quinzena'], columns='Mês', values='Média', aggfunc='sum').round(1)
for col in Trans_AGTimeQuin.columns:
    Trans_AGTimeQuin[col] = Trans_AGTimeQuin[col].apply(formatar_numero)
Trans_AGTimeQuin

Mês,01,02,03,04,05,06,07,08,09,10,11,12
Quinzena,,,,,,,,,,,,
Primeira Quinzena,"817.944,6","545.891,5","648.714,7","616.582,4","645.144,5","678.347,8","718.691,6","664.780,8","738.328,0","797.951,2","876.496,8","1.071.789,5"
Segunda Quinzena,"624.437,0","510.903,0","712.622,2","632.291,6","665.494,9","686.202,4","705.838,7","790.453,7","734.043,7","809.733,1","913.270,4","9.099.500,2"